$cWhite: #FFF;
$cBlack: #000;

$cWhiteBlue: #DFEBF2;
$cLightBlue: #BDE3F2;
$cBlue: #AED8F2;
$cDarkBlue: #94b9b1;

$cLightDark: #79878C;
$cDark: #4F5759;

$cOrange: #EECB4C;
$cRed: #EE4C4C;
$cGreen: #37CD5E;